# OS-specific files.
.DS_Store

# Editor and language files.
.idea/
.project/
.bundle/

# Ansible files.
*.retry
.galaxy_install_info

# Vagrant files.
.vagrant/
vagrant_ansible_inventory_default

# PHP VM specific files.
VagrantFile.local
/config/config.yml
/config/local.config.yml

/vendor/
